# proxy
{% if proxy_env_uppercase %}
{% for env in proxy_env | dict2items %}
setenv {{ env.key | upper }} "{{ env.value }}"
{% endfor %}
{% endif %}
{% if proxy_env_lowercase %}
{% for env in proxy_env | dict2items %}
setenv {{ env.key }} "{{ env.value }}"
{% endfor %}
{% endif %}
