# proxy
{% if env_proxy_uppercase %}
{% for env in proxy_env | dict2items %}
export {{ env.key | upper }}="{{ env.value }}"
{% endfor %}
{% endif %}
{% if env_proxy_lowercase %}
{% for env in proxy_env | dict2items %}
export {{ env.key }}="{{ env.value }}"
{% endfor %}
{% endif %}
