{{ nginx_logs }}/*.log {{ nginx_logs }}/*/*.log {
    daily
    rotate 96
    missingok
    notifempty
    compress
    delaycompress
    sharedscripts
    postrotate
        /bin/kill -USR1 `cat {{ nginx_pid }} 2>/dev/null` 2>/dev/null || true
    endscript
}
