[Unit]
Description=The nginx HTTP and reverse proxy server LOCAL
After=network-online.target remote-fs.target nss-lookup.target
Wants=network-online.target

[Service]
Type=forking
PIDFile=/run/nginx-local.pid
ExecStartPre=/usr/bin/rm -f /run/nginx-local.pid
ExecStartPre={{ nginx.prefix }}/sbin/nginx -t
ExecStart={{ nginx.prefix }}/sbin/nginx
ExecReload={{ nginx.prefix }}/sbin/nginx -s reload
KillSignal=SIGQUIT
TimeoutStopSec=5
KillMode=mixed
PrivateTmp=true

[Install]
WantedBy=multi-user.target
