{% if env_proxy_uppercase %}
{% for env in proxy_env | dict2items %}
{{ env.key | upper }}={{ env.value }}
{% endfor %}
{% endif %}
{% if env_proxy_lowercase %}
{% for env in proxy_env | dict2items %}
{{ env.key }}={{ env.value }}
{% endfor %}
{% endif %}
