# HTTPS server
server {
    listen       443 ssl http2 default_server;
    listen       [::]:443 ssl http2 default_server;
    server_name  _;

    ssl_certificate      {{ tls_file.cert }};
    ssl_certificate_key  {{ tls_file.key }};

    modsecurity             on;
    modsecurity_rules_file  {{ modsecurity.prefix }}/etc/modsec_includes.conf;

    location / {
        root   html;
        index  index.html index.htm;
    }
}
