---
setup:
  # name: (default is same distro)
  # distro: "Ubuntu" # run `wsl -l -o` to get available distor list
  # version: 2
  # username: (default input prompt)
  # password: (default no password)
  # work: "."
  # location: (default no location, so install deafult path for distro)
  # config: "setup.yml"
  # dir: (default is Rakefile directory)
  # playbooks: (default is Rakefile directary ../playbooks)
  # proxy: http://proxy.example.com:8080
  # http_proxy: http://proxy.example.com:8080
  # https_proxy: http://proxy.example.com:8080
  # ftp_proxy: http://proxy.example.com:8080
  # no_proxy: "localhost,127.0.0.1,::1"
  # skip_update: false
  # skip_ansible: false
# debug: false
# # essential (default: true)
# system: true
# update: true
# lang: true
# font: true
# # optional (default: false)
# app: false
# srv: false
# gui: false
# git: false
# vscode: false
# anyenv: false
# docker: false
# vagrant: false
# home: false
