{% for proto in ["http", "https", "ftp"] %}
{% if proxy_env[proto ~ "_proxy"] is defined %}
Acquire::{{ proto }}::Proxy "{{ proxy_env[proto ~ "_proxy"] }}";
Acquire::{{ proto }}::Timeout={{ apt_timeout_with_proxy }};
{% endif %}
{% endfor %}
