[Unit]
Description=The nginx HTTP and reverse proxy server LOCAL
After=network-online.target remote-fs.target nss-lookup.target
Wants=network-online.target

[Service]
Type=forking
PIDFile={{ nginx_pid }}
ExecStartPre=/usr/bin/rm -f {{ nginx_pid }}
ExecStartPre={{ nginx_sbin }} -t
ExecStart={{ nginx_sbin }}
ExecReload={{ nginx_sbin }} -s reload
KillSignal=SIGQUIT
TimeoutStopSec=5
KillMode=mixed
PrivateTmp=true

[Install]
WantedBy=multi-user.target
